[submodule "lifttt-barcode"]
	path = modules/barcode
	url = https://github.com/npenin/lifttt-barcode
[submodule "lifttt-boxcar"]
	path = modules/boxcar
	url = https://github.com/npenin/lifttt-boxcar
[submodule "lifttt-caldav"]
	path = modules/caldav
	url = https://github.com/npenin/lifttt-caldav
[submodule "lifttt-console"]
	path = modules/console
	url = https://github.com/npenin/lifttt-console
[submodule "lifttt-date"]
	path = modules/date
	url = https://github.com/npenin/lifttt-date
[submodule "lifttt-file"]
	path = modules/file
	url = https://github.com/npenin/lifttt-file
[submodule "lifttt-http"]
	path = modules/http
	url = https://github.com/npenin/lifttt-http
[submodule "lifttt-jabber"]
	path = modules/jabber
	url = https://github.com/npenin/lifttt-jabber
[submodule "lifttt-multi"]
	path = modules/multi
	url = https://github.com/npenin/lifttt-multi
[submodule "lifttt-redis"]
	path = modules/redis
	url = https://github.com/npenin/lifttt-redis
[submodule "lifttt-script"]
	path = modules/script
	url = https://github.com/npenin/lifttt-script
[submodule "lifttt-socket.io"]
	path = modules/socket.io
	url = https://github.com/npenin/lifttt-socket.io
[submodule "lifttt-telnet"]
	path = modules/telnet
	url = https://github.com/npenin/lifttt-telnet
[submodule "lifttt-transmission"]
	path = modules/transmission
	url = https://github.com/npenin/lifttt-transmission
[submodule "lifttt-twitter"]
	path = modules/twitter
	url = https://github.com/npenin/lifttt-twitter
