[submodule "modules/barcode"]
	path = modules/barcode
	url = git@github.com:npenin/lifttt-barcode
[submodule "modules/boxcar"]
	path = modules/boxcar
	url = git@github.com:npenin/lifttt-boxcar
[submodule "modules/caldav"]
	path = modules/caldav
	url = git@github.com:npenin/lifttt-caldav
[submodule "modules/console"]
	path = modules/console
	url = git@github.com:npenin/lifttt-console
[submodule "modules/date"]
	path = modules/date
	url = git@github.com:npenin/lifttt-date
[submodule "modules/file"]
	path = modules/file
	url = git@github.com:npenin/lifttt-file
[submodule "modules/http"]
	path = modules/http
	url = git@github.com:npenin/lifttt-http
[submodule "modules/jabber"]
	path = modules/jabber
	url = git@github.com:npenin/lifttt-jabber
[submodule "modules/multi"]
	path = modules/multi
	url = git@github.com:npenin/lifttt-multi
[submodule "modules/redis"]
	path = modules/redis
	url = git@github.com:npenin/lifttt-redis
[submodule "modules/script"]
	path = modules/script
	url = git@github.com:npenin/lifttt-script
[submodule "modules/socket.io"]
	path = modules/socket.io
	url = git@github.com:npenin/lifttt-socket.io
[submodule "modules/telnet"]
	path = modules/telnet
	url = git@github.com:npenin/lifttt-telnet
[submodule "modules/transmission"]
	path = modules/transmission
	url = git@github.com:npenin/lifttt-transmission
[submodule "modules/twitter"]
	path = modules/twitter
	url = git@github.com:npenin/lifttt-twitter
[submodule "modules/sendgrid"]
	path = modules/sendgrid
	url = git@github.com:npenin/lifttt-sendgrid
[submodule "modules/pushalot"]
	path = modules/pushalot
	url = /npenin/pushalot
